{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for univer in univers  %}
            <tr>
                <td>{{ univer.name }}</td>
                <td><a href="{{ path('univer_view', {"univer_id":univer.id}) }}">View</a></td>
            </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}